@using PolarisFamily.Models
@{
    ViewData["Title"] = "功能";
}
<h2>@ViewData["Title"].</h2>
<h3>@ViewData["Message"]</h3>

<p>使用下边界面进行基础数据维护</p>

<div class="container">
    <div class="row">
        <ul class="navbar-btn">
            <li><a asp-area="" asp-controller="News" asp-action="Index">新闻</a></li>
            <li><a asp-area="" asp-controller="Videos" asp-action="Index">视频</a></li>
            <li><a asp-area="" asp-controller="Images" asp-action="Index">图片</a></li>
            <li><a asp-area="" asp-controller="Brands" asp-action="Index">品牌</a></li>
            <li><a asp-area="" asp-controller="Products" asp-action="About">产品</a></li>
            <li><a asp-area="" asp-controller="ShipAddress" asp-action="Index">地址</a></li>
            <li><a asp-area="" asp-controller="ShoppingCart" asp-action="Index">地址2</a></li>
            <li><a asp-area="" asp-controller="ShipAddress" asp-action="Index">地址2</a></li>
        </ul>
    </div>
</div>

